---
BasedOnStyle: LLVM
IndentWidth: 4
ContinuationIndentWidth: 6
ColumnLimit: 100
AccessModifierOffset: -4
PointerAlignment: Left
LineEnding: LF
InsertNewlineAtEOF: true
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
AllowShortEnumsOnASingleLine: false
AllowShortCaseExpressionOnASingleLine: false
BreakAfterAttributes: Always
BreakAfterOpenBracketBracedList: true
BreakBeforeCloseBracketBracedList: true
Cpp11BracedListStyle: FunctionCall
BracedInitializerIndentWidth: 4
...
